body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

h3 {
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* -------------------------------------------------------------VENUES MAP -- */

#map {
    min-height: 360px;
}

#window-logo {
    max-width: 130px;
    padding-bottom: 10px;
}

/* */

.dc-legend {
    font-size: 20px;
}

dc-legend-item {
    margin-top: 10px;
}

.dc-chart .pie-slice {
    font-size: 16px;
}

/* ----------------------------------------------- PLAYERS POSTION BAR CHART --*/

#player-position {
    margin-left: 100px;
}

/* ------------------------------------------ PLAYERS BY COUNTRY DONUT CHART --*/

#player-country {
    margin-left: 175px;
}

/* ---------------------------------------------------- PLAYERS BY AGE CHART --*/

#player-by-age .row text {
    font-size: 16px;
    fill: black;
    margin-right: 50px;
}

#age-players-pics {
    padding-top: 10px;
    text-align: center;
}


/*---------------------------------------------------- PLAYERS BY DRAFT YEAR --*/

#draft-team-pics {
    text-align: center;
}

.chart-team-logo {
    padding-top: 15px;
    max-width: 260px;
    max-height: 190px;
}
