body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
}

.header-title {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    
}

.container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

h3 {
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 10px;
}

/* ---------------------------------------------------- LEGENDS AND SLICES -- */

.dc-legend {
    font-size: 16px;
}

.dc-chart .pie-slice {
    font-size: 16px;
}


/* -------------------------------------------------------------VENUES MAP -- */

#map {
    min-height: 400px;
}

#window-logo {
    max-width: 130px;
    padding-bottom: 10px;
}

/* ----------------------------------------------- PLAYERS POSTION BAR CHART --*/

#player-position {
    margin-left: 50px;
}


/* ------------------------------------------ PLAYERS BY COUNTRY DONUT CHART --*/

#player-country {
    margin-top: 40px;
    margin-left: 150px;
}



/* ---------------------------------------------------- PLAYERS BY AGE CHART --*/

#player-by-age .row text {
    font-size: 16px;
    fill: black;
    margin-right: 50px;
}

#age-players-pics {
    padding-top: 10px;
    text-align: center;
}

.player-pic {
    max-width: 200px;
}


/*---------------------------------------------------- PLAYERS BY DRAFT YEAR --*/

#player-by-draft-year {
    margin-top: 10px;
    margin-right: 20px;
}

#draft-team-pics {
    text-align: center;
}

.chart-team-logo {
    padding-top: 15px;
    max-height: 145px;
}
